.app {
  height: 100vh;
  background-image: linear-gradient(to bottom, #4E5AEA 25%, #dadbd3 25% 100%);
  display: grid;
  place-items: center;
}

.app-body {
  border-radius: 5px;
  background-color: #ededed; 
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: row;
  box-shadow: -1px 4px 20px -6px black;
}

* {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  background: rgba(255,255,255,0);
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}

div > .MuiSvgIcon-root{
  fill: black;
}

.custom-button {
  color: black;
}