.chat {
    flex: 0.75;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat-header-info {
    flex: 1;
    padding-left: 20px;
    min-width: 100px;
}

.chat-header-info > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat-header-info > p {
    color: gray;
}

.chat-header-right {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat-body {
    background-image: url("https://i.pinimg.com/474x/33/5a/49/335a495d28d53d0cfd3e567335661b52.jpg");
    flex: 1;
    background-repeat: repeat;
    padding: 30px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.chat-poora {
    display: flex;
    width: fit-content;
    margin-bottom: 30px;
    max-width: 60%;
    word-break: break-all 
}

.chat-poora-right {
    margin-left: auto;
    max-width: 70%;
    /* align-self: right; */
}

.chat-poora > .MuiSvgIcon-root {
    margin-top: auto;
    margin-bottom: auto;
}

.chat-message {
    margin-top: 2px;
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #fff;
    float: left;
    background-color: rgb(255, 255, 255,0.95);
}

.chat-receiver {
    margin-left: auto;
    background-color: #3da6fcfa;
}

.notif {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(225, 245, 254, 0.92);
    color: rgba(0,0,0,0.88);
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.chat-name {
    display: block;
    top: 0;
    font-weight: 600;
    font-size: 14px;
    color: orange;
}

.chat-time {
    text-align: right;
    
    float: right;
    font-size: x-small;
    position: relative;
    top: 5px;
}

.chat-footer-reply {
    display: flex;
    flex-direction: column;
}

.reply {
    display: flex;
    flex-direction: row;
}

.chat-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
    /* background-color: #4E5AEA; */
}

.chat-footer > form {
    flex: 1;
    display: flex;
}

.chat-footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline: none;
}

.chat-header-right > form {
    flex: 1;
    display: flex;
}

.chat-header-right > form > button {
    display: none;
}

.chat-header-right > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline: none;
}

.chat-footer > form > button {
    display: none;
}

.chat-footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}

.rotate-icon {
    transform: rotate(45deg);
}

.hidden {
    display: none !important;
}


.dropDown {
    overflow-y: scroll;
    height:300px;
    max-width: 340px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26),0 2px 10px 0 rgba(0,0,0,.16);
    position: absolute;
    top: 90px;
    width: 150px;
    right: 335px;
    /* transform: translate(-20%); */
    background-color: rgb(255, 255, 255,0.95);
    border: lightgray;
    border-radius: 2px;
    padding: 20px;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}
.groupMembers {
    position: relative;
    margin-bottom: 5px;
    font-weight: bold;
}
.memberElement {
    margin: 5px;
}

.recorder {
    display: none !important;
}

.audio {
    display: flex;
    align-items: center;
    width: fit-content;
}

.audio > audio {
    margin-left: 5px;   
    margin-right: 5px;
    outline: none;
    border: none;
    /* background-color: #dcf8c6 !important;  */
    /* color: #dcf8c6; */
}

.audio .chat-time {
    position: relative;
    top: 15px;
}